.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  height: 96px;
  padding: 0 20px;
  color: #000;
  overflow: hidden;
  min-width: 380px;
  padding-right: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  padding: 0;
}

.subheader {
  padding-left: 120px;
  display: flex;
  align-items: center;
}
.dropdown {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(-90deg);
}
.dropdown:hover {
  background-color: #f4f7fd;
  transition: all ease-out 0.5s;
}
.actions {
  display: flex;
  flex-direction: row;
  width: min-content;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.icon {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon:hover {
  background-color: #f4f7fd;
}
.icon img {
  height: 20px;
}
.edit img {
  height: 25px;
}
.logo {
  display: flex;
  width: 190px;
  height: 100%;
}

.dark {
  background-color: #2b2c37;
  color: #fff;
}

.small-button {
  background-color: #635fc7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

.small-button:hover {
  background-color: #a8a4ff;
}

@media only screen and (min-width: 600px) {
  .isMobile {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .subheader {
    padding-left: 60px;
  }
}
@media only screen and (max-width: 600px) {
  .subheader {
    padding-left: 0px;
    column-gap: 10px;
  }
  .isDesktop {
    display: none;
  }
  .container {
    padding: 0 0 0 20px;
  }
  .actions {
    column-gap: 0px;
  }
}
