<div class="container" [ngClass]="dark ? 'dark' : ''">
  <div class="header">
    <div class="mobile-logo isMobile">
      <img src="../../../assets/logo-mobile.svg" alt="Logo Icon" />
    </div>
    <div class="logo isDesktop">
      <img [src]="dark ? '../../../assets/logo-light.svg' : '../../../assets/logo-dark.svg'" alt="Logo Icon" />
    </div>

    <div class="subheader">
      <h3 class="heading-xl">{{boardName | titlecase}}</h3>
      <div class="dropdown isMobile" [ngClass]="rotate ? 'rotate' : ''" (click)="toggleDropdown()">
        <img src="../../../assets/icon-chevron-down.svg" alt="Open sidebar Icon" />
      </div>
    </div>
  </div>
  <div class="actions" *ngIf="boardName">
    <app-button class="isDesktop" [ngClass]="['primary', 'md']" (click)="addTask()" *ngIf="isMobile === false">+ Add New
      Task</app-button>
    <div class="small-button isMobile" (click)="addTask()">
      +
    </div>
    <div class="icon" (click)="handleDeleteBoard()">
      <img src="../../../assets/icon-recycle.svg" alt="Delete Icon" />

    </div>

  </div>
</div>
