<div id="board-container" class="container" [ngClass]="isDark ? 'dark' : ''" *ngIf="isDark !== undefined"
  dropzone="false">


  <div id="board-content" class="content" *ngIf="columns.length">


    <app-column [id]="column.name" [boardId]="this.boardId" [name]="column.name" [dark]="isDark"
      [tasks]="getTasksByStatus(column.name, this.todoColumnIndex)" (dragleave)="dragLeave($event)"
      (dragstart)="dragStart($event)" (dragover)="dragOver($event)" (drop)="drop($event)"
      (draggedCardEvent)="drag($event)" (taskToEdit)="setTaskToEdit($event)" (delete)="handleDeleteColumn(i)"
      draggable="false" *ngFor="let column of columns; let i = index"></app-column>


    <div class="column new-column" [ngClass]="isDark ? 'dark-column' : ''" (click)="toggleColumnName()"
      *mcRerender="addColumnName">
      <h3 class="heading-xl" *ngIf="!addColumnName">+ New Column</h3>
      <div class="add-column-name" *ngIf="addColumnName">
        <form (ngSubmit)="onSubmit($event)">
          <div class="input-field">
            <input id="add-column-name-input" class="textfield" type="text" placeholder="Enter a new column name"
              (input)="columnNameInputChange($event)" />
            <div class="btn-actions">
              <app-button [ngClass]="['error', 'short']" (click)="cancelColumnName($event)">Cancel</app-button>
              <app-button type='submit' [ngClass]="['primary', 'short']">Add
                Column</app-button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>




  <div class="empty" *ngIf="!columns.length">
    <div class="empty-content">
      <h3 class="heading-l">
        This board is empty. Create a new column to get started!
      </h3>
      <app-button [ngClass]="['primary', 'md']">+ Add New Column</app-button>
    </div>
  </div>
</div>
