<div id="board-container" class="container" [ngClass]="isDark ? 'dark' : ''" *ngIf="isDark !== undefined">


  <div id="board-content" class="content" *ngIf="!isEmpty">

    <div id="todo" class="column" (dragover)="allowDrop($event)" (drop)="drop($event)">
      <div class="column-header">
        <div class="header-title">
          <div class="circle todo"></div>
          <h3 class="heading-s">todo ({{getColumnData('todo', this.todoColumnIndex).length}} of
            {{getTasksByStatus('todo').length}})
          </h3>
        </div>
        <div class="header-actions">
          <div class="back-page paginate-btn" (click)="backPage('todo')" *ngIf="todoColumnIndex > 0">
            <img src="../../../assets/icon-chevron-down.svg" />
          </div>
          <div class="next-page paginate-btn" (click)="nextPage('todo')" *ngIf="disableButton('todo')">
            <img src="../../../assets/icon-chevron-down.svg" />
          </div>
        </div>
      </div>

      <div class="column-cards" id="todo-cards">

        <div [id]="todo.id" class="card" *ngFor="let todo of getColumnData('todo', this.todoColumnIndex)"
          draggable="true" (dragstart)="drag($event)">
          <app-task-card [dark]="isDark" [task]="todo" (click)="setTaskToEdit(todo)"></app-task-card>

        </div>

      </div>

    </div>


    <div id="doing" class="column" (dragover)="allowDrop($event)" (drop)="drop($event)">
      <div class="column-header">
        <div class="header-title">
          <div class="circle doing"></div>
          <h3 class="heading-s">doing ({{getColumnData('doing', this.doingColumnIndex).length}} of
            {{getTasksByStatus('doing').length}})
          </h3>
        </div>
        <div class="header-actions">
          <div class="back-page paginate-btn" (click)="backPage('doing')" *ngIf="doingColumnIndex > 0">
            <img src="../../../assets/icon-chevron-down.svg" />
          </div>
          <div class="next-page paginate-btn" (click)="nextPage('doing')" *ngIf="disableButton('doing')">
            <img src="../../../assets/icon-chevron-down.svg" />
          </div>
        </div>
      </div>
      <div class="column-cards" id="doing-cards">
        <div [id]="doing.id" class="card" *ngFor="let doing of getColumnData('doing', this.doingColumnIndex)"
          draggable="true" (dragstart)="drag($event)">
          <app-task-card [dark]="isDark" [task]="doing" (click)="setTaskToEdit(doing)"></app-task-card>

        </div>

      </div>
    </div>


    <div id="done" class="column" (dragover)="allowDrop($event)" (drop)="drop($event)">
      <div class="column-header">
        <div class="header-title">
          <div class="circle done"></div>
          <h3 class="heading-s">done ({{getColumnData('done', this.doneColumnIndex).length}} of
            {{getTasksByStatus('done').length}})
          </h3>
        </div>
        <div class="header-actions">
          <div class="back-page paginate-btn" *ngIf="doneColumnIndex > 0" (click)="backPage('done')">
            <img src="../../../assets/icon-chevron-down.svg" />
          </div>
          <div class="next-page paginate-btn" *ngIf="disableButton('done')" (click)="nextPage('done')">
            <img src="../../../assets/icon-chevron-down.svg" />
          </div>
        </div>
      </div>
      <div class="column-cards" id="done-cards">
        <div [id]="done.id" class="card" *ngFor="let done of getColumnData('done', this.doneColumnIndex)"
          draggable="true" (dragstart)="drag($event)">



          <app-task-card [dark]="isDark" [task]="done" (click)="setTaskToEdit(done)"></app-task-card>





        </div>

      </div>
    </div>
    <div id="custom" class="column" *ngIf="displayCustomColumn" (dragover)="allowDrop($event)" (drop)="drop($event)">
      <div class="column-header">
        <div class="header-title">
          <div class="circle custom"></div>
          <h3 class="heading-s">Other ({{getColumnData('custom', this.customColumnIndex).length}} of
            {{getTasksByStatus('custom').length}})
          </h3>
        </div>
        <div class="header-actions">
          <div class="back-page paginate-btn" *ngIf="customColumnIndex > 0" (click)="backPage('custom')">
            <img src="../../../assets/icon-chevron-down.svg" />
          </div>
          <div class="next-page paginate-btn" *ngIf="disableButton('custom')" (click)="nextPage('custom')">
            <img src="../../../assets/icon-chevron-down.svg" />
          </div>
        </div>
      </div>
      <div class="column-cards" id="custom-cards">
        <div [id]="custom.id" class="card" *ngFor="let custom of getColumnData('custom', this.customColumnIndex)"
          draggable="true" (dragstart)="drag($event)">
          <app-task-card [dark]="isDark" [task]="custom" (click)="setTaskToEdit(custom)"></app-task-card>

        </div>

      </div>
    </div>






    <div class="column new-column" [ngClass]="isDark ? 'dark-column' : ''" (click)="addColumn()"
      *ngIf="displayCustomColumn === false">

      <h3 class="heading-xl">+ New Column</h3>

    </div>
  </div>




  <div class="empty" *ngIf="isEmpty">
    <div class="empty-content">
      <h3 class="heading-l">
        This board is empty. Create a new column to get started!
      </h3>
      <app-button [ngClass]="['primary', 'md']">+ Add New Column</app-button>
    </div>
  </div>
</div>
