.container {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #f4f7fd;
  display: flex;
  flex-direction: row;
  padding: 10px 0px 24px 0px;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}

.dark {
  background-color: #20212c;
}

.content {
  background-color: inherit;
  width: 95%;
  height: 100%;
  max-height: calc(100vh - 10px);
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  overflow-x: scroll;
  overflow-y: hidden;
}

.new-column {
  margin-top: 80px;
  width: 100%;
  min-width: 280px;

  background: linear-gradient(
    180deg,
    #e9effa 0%,
    rgba(233, 239, 250, 0.5) 100%
  );

  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #828fa3;
  cursor: pointer;
}
.new-column:hover {
  background: linear-gradient(180deg, rgba(233, 239, 250, 0.3) 0% #e9effa 100%);
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.79);
}
.empty {
  height: min-content;
  transform: translateY(-100px);
}
.empty-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #828fa3;
  max-width: 90vw;
}
.dark-column {
  background: linear-gradient(
    180deg,
    rgba(43, 44, 55, 0.25) 0%,
    rgba(43, 44, 55, 0.125) 100%
  );
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: inherit;
}
::-webkit-scrollbar-thumb {
  background: #8471f2;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a4ff;
}

input:focus {
  outline: 1px solid #635fc7;
  width: 100%;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: right;
  row-gap: 10px;
}
.input-field input {
  background-color: inherit;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 4px 0;
  display: inline-block;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
}
.btn-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
