<div class="container" [ngClass]="dark ? 'dark' : ''">
  <div class="header">
    <h3 class="heading-lg">Delete Column</h3>
  </div>
  <div class="content">
    <p class="body-l">This action will delete <span class="body-l">{{'columnName' | uppercase}}</span> and
      its Tasks.
      <span class="body-l del">Delete</span> ?
    </p>
  </div>
  <div class="actions">
    <app-button [ngClass]="['error', 'full','btn']" (click)="handleCancel()">Cancel</app-button>
    <app-button [ngClass]="['primary', 'full','btn']" (click)="handleConfirm()">Delete</app-button>
  </div>
</div>
