.column {
  width: 100%;
  padding-top: 15px;
  min-width: 300px;
}

.column-cards {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-top: 24px;
}

.column-header {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.header-actions {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.pagination {
  height: 30px;
  width: 100%;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.paginate-btn {
  width: 30%;
  height: 25px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.paginate-btn:hover {
  background-color: #f4f7fd;
}
.back-page img {
  transform: rotate(90deg);
  width: 15px;
}
.next-page img {
  transform: rotate(-90deg);
  width: 15px;
}
.delete-column {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-column:hover {
  background-color: #f4f7fd;
  width: 30px;
  height: 30px;
}
.delete-column img {
  width: 15px;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.todo {
  background-color: #49c4e5;
}
.doing {
  background-color: #8471f2;
}
.done {
  background-color: #67e2ae;
}
.custom {
  background-color: orange;
}
.dark {
  background-color: #20212c;
}
.dark-pagination {
  background-color: #2b2c37;
}

.dark-column {
  background: linear-gradient(
    180deg,
    rgba(43, 44, 55, 0.25) 0%,
    rgba(43, 44, 55, 0.125) 100%
  );
}
