<div class="container" [ngClass]="isDark ? 'dark' : ''">

  <app-navbar [dark]="isDark" [hasSidebar]="hideSidebar" (toggle)="handleToggleSidebarChangeEvent($event)"></app-navbar>
  <div class="main">


    <app-sidebar (isHidden)="onToggleSidebar()" [dark]="isDark" (isDark)="handleThemeChangeEvent($event)"
      *ngIf="isDark !== undefined" [hideBar]="hideSidebar"></app-sidebar>

    <div class="content" [ngClass]="hideSidebar ? 'hideBar' : 'showBar'">

    </div>
  </div>
</div>
<app-dropdown (toggleDark)="handleThemeChangeEvent($event)" (toggleDropdown)="handleToggleSidebarChangeEvent($event)"
  [dark]="isDark" [hideBar]="hideSidebar"></app-dropdown>
