.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4ebfa;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 44px;
}

.container:hover {
  background-color: rgba(99, 95, 199, 0.25);
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid #828fa33f;
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #635fc7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.dark {
  background-color: #20212c;
  color: #fff;
}

.completed {
  text-decoration: line-through;
  color: #979797;
}
