.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #000;
  overflow: hidden;
  width: 480px;
}
.dark {
  color: #fff;
}
.dark textarea,
input {
  color: #fff;
}

form {
  width: 100%;
  height: 100%;
}
textarea {
  border: none;
  width: 100%;
  background-color: inherit;
  color: #000;
  overflow: hidden;
  resize: vertical;
  border-radius: 6px;
  padding: 2px;
}
textarea:focus {
  outline: 1px solid #635fc7;
  width: 100%;
}
input:focus {
  outline: 1px solid #635fc7;
  width: 100%;
}
textarea:hover {
  outline: 1px solid #635fc7;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 95%;
  padding: 0;
  row-gap: 10px;
  padding: 5px;
  padding-left: 10px;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: min-content;
  width: 100%;
  column-gap: 10px;
}

.title {
  width: 100%;
}
.icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-subtask {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-subtask:hover {
  background-color: #f4f7fd;
  transition: all ease-out 0.2s;
}

.subtask-field {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  column-gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.new-subtasks {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.icon:hover {
  background-color: #f4f7fd;
  transition: all ease-out 0.2s;
}
.icon img {
  height: 15px;
}
.icon-subtask img {
  height: 15px;
}

.description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: min-content;
  width: 100%;
  column-gap: 10px;
  margin-right: 50px;
}
.text-description {
  padding: 10px;
  width: 100%;
}
.subtasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  width: 100%;
  padding: 0;
}

.label {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  color: #828fa3;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 5px;
  width: 100%;
}

.status h3 {
  padding: 0;
  line-height: 0.3;
}
.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.btn {
  width: 100%;
}

.completed {
  text-decoration: line-through;
  color: #979797;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: right;
}
.input-field input {
  background-color: inherit;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 4px 0;
  display: inline-block;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
}
.icon:hover {
  transform: scale(1.3);
}
@media only screen and (max-width: 650px) {
  .container {
    max-width: 70vw;
  }
  .button {
    flex-direction: column;
    row-gap: 10px;
  }
}
